<p>Dear sir,</p>

<p>You have just been added to SGT as {{ role }}</p>

<p>Please use the credentials below to login to the Admin Portal and change your password immediately.</p>

<p>
    Email: {{ email }}
    <br/>
    Password: {{ password }}
</p>

<br />

<p>Thank you.</p>

<h4>SGT Team.</h4>
