
<p>Dear {{ firstName }},</p>

<p>Welcome aboard! 🎉</p>

<p>account has been successfully created. We're excited to have you with us.</p> 

<p>If you ever need support, we're just one email away.</p>


<p>Happy exploring!</p>

<h4>visaro Team.</h4>