<p>Dear {{ fullName }},</p>

<p>Thank you for signing up with us.</p>

<p>Please complete your account setup by using the code below to verify your email.</p>

<p>
    Verification Code: <span style="font-weight: 600;">{{ code }}</span>
</p>

<br />

<p>Thank you.</p>

<h4>SGT Team.</h4>
